In [2]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
import requests

headers = {
    'authority': 'api.anwb.nl',
    'accept': '*/*',
    'accept-language': 'id-ID,id;q=0.9,en-US;q=0.8,en;q=0.7,ms;q=0.6',
    'content-type': 'application/x-www-form-urlencoded;charset=UTF-8',
    'origin': 'https://www.anwb.nl',
    'referer': 'https://www.anwb.nl/',
    'sec-ch-ua': '"Google Chrome";v="119", "Chromium";v="119", "Not?A_Brand";v="24"',
    'sec-ch-ua-mobile': '?1',
    'sec-ch-ua-platform': '"Android"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Mobile Safari/537.36',
    'x-anwb-client-id': '86AhuFzAtaqLVRGLpfk7SGboVcLzCsnQ',
}

data = 'q=*%3A*&sort=offerText+desc%2Cprice+asc&start=0&rows=300'

response = requests.post('https://api.anwb.nl/v2/privatelease', headers=headers, data=data)

In [4]:
manufactures = []
models = []
prices = []
fuels = []
chassis = []
conditions = []

for item in response.json()['items']:
    manufactures.append(item['manufacturer'])
    
    models.append(item['model'])
    
    fuels.append(item['fuelType'])
    
    prices.append(item['price'])
    
    chassis.append(item['vehicleChassis'])
    
    conditions.append(item['condition'])

In [5]:
df = pd.DataFrame({
    'Manufacture' : manufactures,
    'Model' : models,
    'Price' : prices,
    'Benzine' : fuels,
    'Chassis' : chassis,
    "Status" : conditions
})
df

,Manufacture,Model,Price,Benzine,Chassis,Status
0,Kia,Ceed Sportswagon,379,Benzine,Stationwagen,new
1,Ford,Puma,359,Benzine,SUV,new
2,Skoda,Kamiq,389,Benzine,SUV,new
3,Nissan,Micra,279,Benzine,Hatchback,occasion
4,Fiat,500,279,Benzine,Hatchback,occasion
...,...,...,...,...,...,...
264,BMW,i5,954,Elektriciteit,Sedan,new
265,Land Rover,Range Rover Evoque,969,PHEV benzine,SUV,new
266,Volkswagen,ID. Buzz,1009,Elektriciteit,MPV,new
267,Volvo,XC60,1019,PHEV benzine,SUV,new
268,Alfa Romeo,Stelvio,1129,Benzine,SUV,new

In [6]:
df.to_csv('ANWB Cars Data.csv', index=False)

In [ ]:
git